<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-7 col-lg-6 col-xl-6 d-none d-md-block">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
             class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-5 col-lg-5 col-xl-4 offset-lg-1 offset-xl-2">
        <div class="text-center">
          <h1>Login</h1>
          <h6>please enter username or password</h6>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <!-- Username Input-->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">User name</label>
            <input formControlName="userName" type="text" id="form1Example13" class="form-control form-control-lg" />

          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example23">Password</label>
            <input formControlName="password" type="password" id="form1Example23" class="form-control form-control-lg" />
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
              <label class="form-check-label" for="form1Example3"> Remember me </label>
            </div>
            <a routerLink="/forget-password">Forgot password?</a>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg w-100">Sign in</button>
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
          </div>

          <a class="btn btn-primary btn-lg w-100" style="background-color: #3b5998" href="#!"
             role="button">
            <i class="fab fa-facebook-f me-2"></i>Continue with Google
          </a>
        </form>
      </div>
    </div>
  </div>
</section>
